<%# 

    <form action="">

    <h1>Create Account</h1>
      <div class="first__name__box">
        <label for="f-name">First Name</label>
        <input
          type="text"
          name="f-name"
          id="f-name"
          required
        />
      </div>

      <div class="last__name__box">
        <label for="l-name">Last Name</label>
        <input
          type="text"
          name="l-name"
          id="l-name"
          required
        />
      </div>

      <div class="email__box">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
        />
      </div>

      <div class="password__box">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
        />
      </div>

      <button type="submit" name="submit">CREATE</button>
    </form> %>

<div id="form__container">
    <h1>Log In</h1>

    <%= form_with model:@user, local: true do |form| %>
        <div class="field">
            <%= form.label :username %>
            <%= form.text_field :username %>
        </div>

        <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email %>
        </div>

        <div class="field">
            <%= form.label :password %>
            <%= form.text_field :password %>
        </div>

        <div class="field">
            <%= form.label :password %>
            <%= form.text_field :password %>
        </div>

        <div>
            <%= form.submit "SIGN IN", class: "btn-submit" %>
        </div>
    <% end %>
</div>