<h1>Form</h1>

<%= form_with model:@user, local: true do |form| %>
    <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
    </div>

    <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
    </div>

    <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>

    <div class="password">
        <%= form.label :password %>
        <%= form.text_field :password %>
    </div>

    <div>
        <%= form.submit controller.action_name.capitalize + " Product", class="btn-submit" %>
    </div>
<% end %>