<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>VIEW ALL COLLECTIONS</h1>

  <div class="card__container">
  
    <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <a href="">
        <img class="card-img" src="images/hand-massager.jpeg" alt="Hand Massager Image">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">from <%= product.discount_price %></p>
          <p class="card-text-cross"><%= product.price %></p>
          <p class="card-text-icon">SALE</p>
        </div>
        </a>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'New Product', new_product_path %>
</div>

