<section id="collection">
    <% @characters.each do |character| %>
        <div class="collection__container">
            <h3><%= character[:name] %></h3>
            <p><%= character[:height] %></p>
            <p><%= character[:mass] %></p>
            <p><%= character[:hair_color] %></p>
            <p><%= character[:skin_color] %></p>
            <p><%= character[:eye_color] %></p>
            <p><%= character[:birth_year] %></p>
            <% if character[:gender] != "n/a" %>  
                <p><%= character[:gender] %></p>
            <% end %>
            <%= link_to 'Show', character_path(@character[:id]) %>
        </div>
    <% end %>
</section>